/* -------------------------------- 

Primary style

-------------------------------- */
html * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
        font-size: 100%;
        font-family: "Ubuntu", sans-serif;
        color: #3e3947;
        background-color: white;
}

body, html {
        height: 100%;
}

a {
        color: #3e3947;
        text-decoration: none;
}

img {
        max-width: 100%;
}

.typed-cursor{
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
}
@keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
}
@-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
}
@-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
        /* replace text with a background-image */
        display: inline-block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.pdfobject-container{
        height:500px; 
        padding-left:10%;
        padding-right:10%;
}
.devider{
        width:20%;
        height:auto;
        display:inline-block;
}

.cd-section p{
        color:white
}

.cd-section input{
        background-color: black;
        color: white;
        border: 2px solid #389ADB; 
}

.cd-section input:hover{
        background-color:#389ADB;
}
.cd-section ul{
        display: inline;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
}

#section1 span{
        font-size:30px;
        color:white;
}
.cd-section {
        min-height: 100%;
        position: relative;
        padding: 2em 0;
}
.cd-section:nth-of-type(odd) {
        /*background-color: #3e3947;*/
        background-color: #389ADB;
}
.cd-section:nth-of-type(odd) p {
        color: #898099;
}
.cd-section:nth-of-type(even) {
        background-color: black;
}
.cd-section:nth-of-type(even) p {
        color: #bda3ad;
}
.cd-section h1, .cd-section p {
        /*position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        /*width: 90%;
        max-width: 768px;
        text-align: center;*/
}

.cd-section hr{
        border-color: white;
        margin-right:10%;
}


.cd-section h1 {
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 20px;
        font-size: 1.25rem;
}
.cd-section p {
        line-height: 1.6;
}
@media only screen and (min-width: 768px) {
        .cd-section h1 {
                font-size: 30px;
                font-size: 1.875rem;
        }
        .cd-section p {
                font-size: 20px;
                font-size: 1.25rem;
                line-height: 2;
        }
}

.cd-scroll-down {
        position: absolute;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 20px;
        width: 38px;
        height: 44px;
        background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

/* No Touch devices */
.cd-nav-trigger {
        display: none;
}

#cd-vertical-nav {
        position: fixed;
        right: 40px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
}
#cd-vertical-nav li {
        text-align: right;
}
#cd-vertical-nav a {
        display: inline-block;
        /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
#cd-vertical-nav a:after {
        content: "";
        display: table;
        clear: both;
}
#cd-vertical-nav a span {
        float: right;
        display: inline-block;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
}
#cd-vertical-nav a:hover span {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
}
#cd-vertical-nav a:hover .cd-label {
        opacity: 1;
}
#cd-vertical-nav a.is-selected .cd-dot {
        background-color: white;
}
#cd-vertical-nav .cd-dot {
        position: relative;
        /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
        top: 8px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #3C4859;
        -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
        -moz-transition: -moz-transform 0.2s, background-color 0.5s;
        transition: transform 0.2s, background-color 0.5s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
}
#cd-vertical-nav .cd-label {
        position: relative;
        margin-right: 10px;
        padding: .4em .5em;
        color: white;
        font-size: 14px;
        font-size: 0.875rem;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        -moz-transition: -moz-transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s;
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
}


