body{
  background-color: #000;
}

.square{
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.square-content{
  color: white;
  font-size: 200px;
  padding: 20px;
  top: 50%;
  left: 50%;
}

#youtube:hover{
  background-color: #ff0000;
}

#instagram:hover{
  background-color: #4664d8;
}

#snapchat:hover{
  background-color: #fffc00;
}

#twitter:hover{
  background-color: #1da1f2;
}

#medium:hover{
  background-color: #36b996;
}

#linkedin:hover{
  background-color: #0077b5;
}
